name: flutter_chat_app
description: Flutter Android app that loads a website in WebView.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # WebView for displaying web content
  webview_flutter: ^4.7.0
  
  # Plugin for handling platform-specific intents (Android back button)
  webview_flutter_android: ^4.7.0
  webview_flutter_web: ^4.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
